<h1>New Book</h1>
<form method="post" action="/books/?_method=PUT">
<div>
    <label>Name</label>
</div>
<div>
    <input type="text" name="name" value="" />
</div>
<div>
    <label>Author</label>
</div>
<div>
    <textarea name="author"></textarea>
</div>
</div>
<div>
    <input type="submit" value="Submit Form" />
</div>
</form>